<button (click)="navigateCreateResident()">Create resident</button>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th> edit </th>
        </tr>
    </thead>
    <tbody>
        @for (resident of residents$ | async; track resident.id) {
        <tr>
            <td>{{resident.id}}</td>
            <td>{{resident.firstName}}</td>
            <td>{{resident.lastName}}</td>
            <td><button (click)="getResident(resident.id)">//</button></td>
        </tr>
        }
    </tbody>
</table>

@if (resident$ | async; as resident) {
    <p>Individual data</p>
    <p> {{ resident.firstName }} + {{ resident.address.doorNo }}</p>
}